---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await Astro.glob('../posts/**/*.md');

const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

const pageTitle = " ";
---

<BaseLayout pageTitle={pageTitle}>
    <ul class="tags-grid">
        {
            uniqueTags.map((tag) => <li style="list-style: none;">
                <a href={`/tags/${tag}`} class="tag-card" style="text-decoration: none;">
                    {tag}
                </a>
            </li>)
        }
    </ul>
    <style>
        .tags-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        .tag-card {
            display: inline-block;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            font-size: 1.2rem;
            white-space: nowrap;
            border: 1px solid #ccc;
            transition: all 0.2s ease-in-out;
        }

        .tag-card:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</BaseLayout>

