---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "关于";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quidem, dolores sint sed tempora numquam doloremque aliquam excepturi cum omnis nemo assumenda asperiores? Aliquam esse incidunt dignissimos maiores facilis molestias.
    </p>

    <p>
        <em>ST.U</em> 是一个非营利社区，社区的所有资产均托管在 GitHub 上，所有的活动也通过 GitHub 进行。
    </p>
</BaseLayout>