---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "博客";
---


<BaseLayout pageTitle={pageTitle}>
    - <a href="/posts/hello">Hello</a><br>
    - <a href="/posts/start">梦想开始的地方</a>
</BaseLayout>