---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "ST.U 试验田";
---


<BaseLayout pageTitle={pageTitle}>
  <p>ST.U 试验田是一块试验田。</p> 
</BaseLayout>