---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "ST.U 试验田";
---


<BaseLayout pageTitle={pageTitle}>
  <p>ST.U 试验田是一个非营利组织，它的宗旨是用科技创造价值。</p> 
  <p>你所看到的大部分内容为 AI 生成!（这句话除外）</p>
</BaseLayout>