---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "ST.U 试验田";
---


<BaseLayout pageTitle={pageTitle}>
  <p>ST.U 试验田是一块试验田。</p> 
  <p>网站使用 <a href="https://docs.astro.build/">Astro</a>开发。</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, excepturi vero cumque beatae, dignissimos eius totam eaque reprehenderit a adipisci rem. Dignissimos nesciunt, numquam illum vitae eaque ipsam expedita distinctio.</p>
</BaseLayout>