<head>
  <link rel="stylesheet" href="//unpkg.com/heti/umd/heti.min.css" />
  <script is:inline src="//unpkg.com/heti/umd/heti-addon.min.js"></script>
  <script is:inline>
    const heti = new Heti(".heti");
    heti.autoSpacing();
  </script>
</head>

<body>
    <slot/>
</body>
