---
import "../styles/meta_card.css";

const { frontmatter } = Astro.props;
---


<div class="metadata card">
    <p class="date">{new Date(frontmatter.pubDate).toLocaleDateString()}, {frontmatter.author}</p>
    <p class="tags">
      Tags:
      {
        frontmatter.tags.map((tag: string) => (
          <span class="tag">{tag}</span>
        ))
      }
    </p>
</div>