---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import ThemeIcon from '../components/ThemeIcon.astro';

const {pageTitle} = Astro.props;
---


<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="ST.U Space是一块试验田， 是 ST.U 的子域。网站使用 Astro开发。作为一个 Space， 作为一个 Anonymous Space， 这里会包含任何内容。" />
    <meta name="author" content="ST.U" />
    <meta name="keywords" content="STU, ST.U"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <ThemeIcon />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>